.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 30px;
  align-items: stretch;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    padding: 0 15px;
  }
}
.products-grid2 {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 30px;
  margin-bottom: 30px;
  @media (max-width: 767px) {
    grid-template-columns: 1fr;

    gap: 5px;
  }
}
.product-card {
  background: rgba(105, 105, 105, 0.05);
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  margin-top: auto;
  height: 100%;
  min-height: 440px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  &:hover {
    transform: translateY(-10px);
    border-color: rgba(255, 225, 53, 0.3);

    body.light-theme & {
      box-shadow: 0 8px 32px rgba(232, 200, 65, 0.3);
    }
  }
  &__image {
    img {
      width: 100%;
      height: auto;
      border-radius: 12px;
    }
  }

  &__name {
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.4;
    margin: 16px 0 12px;
    color: var(--accent);
  }

  &__descriptions {
    font-size: 14px;
    line-height: 1.4;
    min-height: 48px;
    color: var(--light);
    margin-bottom: 16px;
    body.light-theme & {
      color: var(--dark);
    }
  }

  &__divider {
    background-color: var(--accent);
    width: 100%;
    height: 2px;
    margin: 12px 0;
  }

  &__specs {
    color: var(--light);
    font-size: 14px;
    margin: 16px 0;
    flex: 1;

    body.light-theme & {
      color: var(--dark);
    }
  }

  &__spec {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__label {
    margin-right: 8px;
    white-space: nowrap;
    flex-shrink: 0;
  }

  &__dots {
    flex: 1;
    border-bottom: 1px dotted var(--accent);
    height: 1px;
    padding-bottom: 10px;
    margin: 8px 0;
  }

  &__value {
    margin-left: 8px;
    white-space: nowrap;
    flex-shrink: 0;
  }

  &__buttons {
    margin-top: auto;
    text-align: center;
  }
}