.promo-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 80px;
}
.promo-banner2 {
  max-width: 100%;


  @media (max-width: 767px) {
    padding: 0 15px;
    box-sizing: border-box;
  }
}

.title {
  color: var(--light);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.2;
  body.light-theme & {
    color: var(--dark);
  }
}
.description {
   color: var(--light);
   font-size: 1.2rem;
   line-height: 1.6;
   margin-bottom: 40px;
   max-width: 600px;
  font-weight: bold;
  body.light-theme & {
    color: var(--dark);
  }
 }
.highlight {
  color: var(--accent);
  background: rgba(255, 225, 53, 0.25);
  padding: 5px 15px;
  border-radius: 15px;
  white-space: nowrap;
  body.light-theme & {
    color: var(--accent);
    background: rgba(37, 37, 37, 0.25);
  }
}
.features {
  color: var(--light);
  margin-bottom: 40px;
  justify-content: center;
}
.feature2 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;

}
.feature {
  margin-top: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  font-weight: bold;
  background: rgba(255, 255, 255, 0.05);
  padding: 15px 25px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  box-sizing: border-box;
  body.light-theme & {
    color: var(--dark);
    background: #D9D9D9;
  }
  &:hover {
    background: rgba(255, 225, 53, 0.25);
    border-color: #FFE135;
    transform: translateY(-3px);
  }
}
.feature-icon {
  font-size: 1.5em;
}
.email-form {
  gap: 15px;
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  justify-content: center;
}
.email-input {
  width: 100%;
  min-width: 250px;
  padding: 18px 25px;
  border: 1px solid #8E8E8E;
  border-radius: 50px;
  background: none;
  color: #8E8E8E;
  font-size: 1rem;
  transition: all 0.3s ease;

}
.email-button {
   max-width: 200px;
   display: flex;

 }
.email-input {
  &:hover,
  &:focus {
    color: var(--accent);
    outline: none;
    border-color: var(--accent);
    background: #4B4B31;
  }

  // Отдельно для темы
  body.light-theme & {
    &:hover,
    &:focus {
      color: var(--accent);
      background: rgba(142, 142, 142, 0.25);
    }
  }
}
.hero-image {
  width: 620px;
  img {
    width: 100%;
    height: auto;
    animation: rotate 60s linear infinite;
    transform-origin: center center;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*768–1279px*/
@media (max-width: 1279px) {
  .promo-banner {
    gap: 10px;
    padding: 40px 20px;
    flex-wrap: wrap-reverse;
    .hero-image {
      max-width: 50%;
    }
  }
  .title {
    font-size: 2.4rem;
  }
  .description {
    font-size: 1.1rem;
    max-width: 500px;
  }
  .feature {
    padding: 12px 20px;
    font-size: 0.9rem;
  }
  .email-input {
    padding: 16px 20px;
  }
  .hero-image {
    width: 450px;
  }
}

/*767px*/
@media (max-width: 767px) {
  .promo-banner {
    flex-wrap: wrap-reverse;
    gap: 5px;
    padding: 20px 15px;
  }
  .promo-banner2 {
    width: 100%;
    padding: 0 10px;
  }
  .hero-image {
    max-width: 30%;
  }
  .title {
    font-size: 1.8rem;
    margin-bottom: 15px;

  }
  .highlight {
    font-size: 1.4rem;
  }
  .description {
    font-size: 1rem;
    margin-bottom: 30px;
    max-width: 500px;
    width: 100%;
  }
  .feature2 {
    display: flex;

    gap: 5px;
  }
  .feature {
    font-size: 0.7rem;
    padding: 2px 2px;
    margin-top: 5px;
  }
  .email-form {
    display: grid;
    gap: 12px;
    max-width: 100%;
    padding: 0 10px; // Добавляем отступы по бокам
    box-sizing: border-box;
    margin: 0 auto; // Центрируем кнопку
  }
  .email-input {
    width: 100%;

    box-sizing: border-box;

  }
  .email-button {
    max-width: 100%;
    width: 100%;
  }
  .hero-image {
    width: 100%;
    max-width: 300px;
  }
}

