
.onas {
  padding: 40px;
  @media (max-width: 767px) {
    padding: 10px;

  }
  p {
    font-size: 24px;
    body.light-theme & {
      color: var(--dark);
    }
    body.dark-theme-theme & {
      color: var(--light);
    }
    @media (max-width: 767px) {
      font-size: 17px;

    }

    .highlight{
      @media (max-width: 767px) {
        font-size: 17px;
        padding: 0;
        background: none;
        white-space: wrap;


      }

    }

  }

  h3 {
    font-size: 30px;
    color: var(--accent);
  }
}
.mission-vision {
  display: flex;
  gap: 10px;
flex-wrap: wrap;
  margin-top: 30px;
}

.mission, .vision {
  flex: 1;
  width: 100%;
  padding: 25px;
  border-radius: 15px;
  background: rgba(255, 225, 53, 0.1);
  @media (max-width: 767px) {
    padding: 15px;

  }
  h3 {
    line-height: 1;
    @media (max-width: 767px) {
      font-size: 24px;

    }
  }
  p {
    font-size: 24px;
    @media (max-width: 767px) {
      font-size: 17px;

    }
  }
}
