
.onas {
  padding: 40px;

  p {
    font-size: 24px;
    color: var(--light);
  }

  h3 {
    font-size: 30px;
    color: var(--accent);
  }
}
.mission-vision {
  display: flex;
  gap: 10px;
flex-wrap: wrap;
  margin-top: 30px;
}

.mission, .vision {
  flex: 1;
min-width: 250px;
  padding: 25px;
  border-radius: 15px;
  background: rgba(255, 225, 53, 0.1);
  h3 {
    line-height: 1;
  }
  p {
    font-size: 24px;
  }
}
