

h2 {
  font-size: 2rem;

  padding-bottom: 10px;
  margin-top: 40px;
  color: var(--accent);
  margin-bottom: 20px;

}

h3 {
  font-size: 1.5rem;
  margin-top: 25px;
  color: var(--accent);
  margin-bottom: 20px;
  @media (max-width: 767px) {
    font-size: 24px;

  }
  body.light-theme & {
    color: var(--dark);
  }
  body.dark-theme-theme & {
    color: var(--light);
  }
}

p {
  color: var(--light);
  margin-bottom: 15px;
  font-size: 1.1rem;
  line-height: 1.6;
  @media (max-width: 767px) {
    font-size: 17px;

  }
  body.light-theme & {
    color: var(--dark);
  }
  body.dark-theme-theme & {
    color: var(--light);
  }
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.value-card {
  padding: 25px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  transition: transform 0.3s ease;
  body.light-theme & {
    background: rgba(255, 255, 255, 0.8)
  }


}

.value-card:hover {
  transform: translateY(-5px);
  background: rgba(255, 225, 53, 0.1);
  body.light-theme & {
    box-shadow: 0 8px 32px rgba(232, 200, 65, 0.3);
  }
  border-color: rgba(255, 225, 53, 0.3);
  .staff-image {
    border: 3px solid var(--accent);
    body.light-theme & {
      box-shadow: 0 8px 32px rgba(232, 200, 65, 0.3);
    }
  }
}

.value-icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

/* Адаптивность */
@media (max-width: 768px) {
  .glass {
    padding: 25px;
  }

  h2 {
    font-size: 1.7rem;
  }

  .values-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}