.auto-slider {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;


  .slider-track {
    display: flex;
    gap: 20px;
    width: 600%;

    animation: slide 30s infinite ease-in-out;
    padding: 40px 0;
    @media (max-width: 767px) {
      padding: 0 0;
    }
  }

  .slide {
    flex: 0 0 calc(33.333% - 14px);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      transition: all 0.5s ease;
      max-width: 500px;
    }


  }
}

@keyframes slide {
  0%, 12.5% {
    transform: translateX(0);
  }
  16.6%, 29.1% {
    transform: translateX(-33.333%);
  }
  33.3%, 45.8% {
    transform: translateX(-66.666%);
  }
  50%, 62.5% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.auto-slider-text-block {

   padding: 20px 0;

   .auto-slider-text-block1 {
     font-size: 2rem;
     font-weight: bold;
     margin-bottom: 10px;
     color: var(--accent);
   }

   .auto-slider-text-block2 {
     font-size: 1.1rem;
      color: var(--light);
     margin: 0 auto;
     opacity: 0.8;
   }
 }

