

.staff-name {
  text-decoration: none;
}
.staff-card {
  text-decoration: none;
  max-width: 70px;
}
.staff-image2 {
  width: 50px;
  height: 50px;
  margin: 0 auto 10px;
  border-radius: 50%;

  transition: all 0.3s ease;
}
.staff-image2 img {
  width: 50px;
  height: 50px;
  object-fit: cover;

}
