
.staff-card {
  background: rgba(105, 105, 105, 0.25);
  border-radius: 20px;
  padding: 30px;
  width: 100%;
  height: auto;
  max-width: 300px;
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;

  &:hover {
    body.light-theme & {
      box-shadow: 0 8px 32px rgba(232, 200, 65, 0.3);
    }
    border-color: rgba(255, 225, 53, 0.3);

    .staff-card__image {
      border: 3px solid var(--accent);
      body.light-theme & {
        box-shadow: 0 8px 32px rgba(232, 200, 65, 0.3);
      }
    }
  }

  &__image {
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 3px solid gray;

    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 1.3em;
    font-weight: 700;
    color: var(--accent);
    margin-bottom: 8px;
  }

  &__position {
    font-size: 17px;
    color: var(--light);
    opacity: 0.9;
    line-height: 1.4;

    body.light-theme & {
      color: var(--dark);
    }
  }
}

.staff-grid {


  gap: 30px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (max-width: 1444px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
}


body.light-theme .staff-card {
  background: rgba(255, 255, 255, 0.8);
}

body.light-theme .staff-card__name {
  color: #333;
}