<div class="product-card">
    <div class="product-card__image">
        <img src="@@img" alt="@@alt" loading="lazy">
    </div>

    <h3 class="product-card__name">@@name</h3>

    <p class="product-card__descriptions">@@description</p>

    @@include('../components/_polosa.html')

    <div class="product-card__specs">
        <div class="product-card__spec">
            <span class="product-card__label">Страна</span>
            <span class="product-card__dots"></span>
            <span class="product-card__value">@@country</span>
        </div>
        <div class="product-card__spec">
            <span class="product-card__label">Цена</span>
            <span class="product-card__dots"></span>
            <span class="product-card__value">@@price</span>
        </div>
        <div class="product-card__spec">
            <span class="product-card__label">Средний вес плода</span>
            <span class="product-card__dots"></span>
            <span class="product-card__value">@@weight</span>
        </div>
    </div>

    <div class="product-card__buttons">
        @@include('../components/_button.html', {
        "name": "В КОРЗИНУ"
        })
    </div>
</div>