
  <form class="contact-form" id="feedbackForm">
    <div class="form-row">
      <div class="form-column">
        <div class="form-group">
          <label class="form-label" for="name">Ваше имя</label>
          <input style="background: none" type="text" id="name" class="form-input" placeholder="Как к вам обращаться?">
        </div>

        <div class="form-group">
          <label class="form-label" for="email">Email</label>
          <input style="background: none" type="email" id="email" class="form-input" placeholder="example@mail.com" required>
        </div>
      </div>

      <div class="form-column">
        <div class="form-group">
          <label class="form-label" for="message">Сообщение</label>
          <textarea style="background: none" id="message" class="form-textarea" placeholder="Расскажите подробнее..." required></textarea>
        </div>
      </div>
    </div>
<div style=" margin: auto;">
    @@include('../components/_button.html', {
    "name": "Отправить",
    })
    </div>
  </form>
