<section id="home" class="promo-banner glass">
  <div class="promo-banner2">
    <h1 class="title">Скоро открытие<br> <span class="highlight">У нас не только бананы!</span></h1>

    <p class="description">Первым 100 клиентам - <span class="highlight" style="white-space: nowrap;">скидка&nbsp;30%</span> на первую покупку! Оставьте email и мы сообщим вам об открытии.</p>



    <div class="features">
      <div class="feature2">
      <div class="feature">
        <div class="feature-icon">🚚</div>
        <span>Бесплатная доставка</span>
      </div>
      <div class="feature">
        <div class="feature-icon">⭐</div>
        <span>Гарантия свежести</span>
      </div>
    </div>
      <div class="feature">
        <div class="feature-icon">🎁</div>
        <span>Подарок к заказу</span>
      </div>
    </div>

    <form class="email-form">
      <input type="email" class="email-input" placeholder="Ваш email" required>
        <div class="email-button">
      @@include('../components/_button.html', {
            "name": "Оповестить",
            })</div>
    </form>
  </div>
  <div class="hero-image">
    <img class="hero-image" src="./assets/images/hro-foto.webp" alt="hero-banner">

  </div>
</section>