<div class="glass">
<div class="auto-slider-text-block">
  <div class="auto-slider-text-block1">Наша галерея</div>
  <div class="auto-slider-text-block2">Взгляните на наши свежие фрукты - каждый отобран с особой тщательностью!</div>
</div>
<div class="auto-slider">

  <div class="slider-track">
    <div class="slide">
      <img class="sliden" src="./assets/images/slide1.webp" alt="Слайд 1">
    </div>
    <div class="slide">
      <img class="sliden"  src="./assets/images/slide2.webp" alt="Слайд 2">
    </div>
    <div class="slide">
      <img class="sliden"  src="./assets/images/slide3.webp" alt="Слайд 3">
    </div>
    <div class="slide">
      <img class="sliden"  src="./assets/images/slide4.webp" alt="Слайд 4">
    </div>
    <div class="slide">
      <img class="sliden"  src="./assets/images/slide5.webp" alt="Слайд 5">
    </div>
    <div class="slide">
      <img class="sliden"  src="./assets/images/slide6.webp" alt="Слайд 6">
    </div>

  </div>
</div>
</div>
