
        <div class="staff-grid">
            <div class="staff-card">
                <div class="staff-image">
                    <img src="./assets/images/glava.webp" alt="Алексей Петров">
                </div>
                <div class="staff-name">Алексей Петров</div>
                <div class="staff-position">Основатель</div>
            </div>

            <div class="staff-card">
                <div class="staff-image">
                    <img src="./assets/images/glava.webp" alt="Мария Петрова">
                </div>
                <div class="staff-name">Мария Петрова</div>
                <div class="staff-position">Менеджер по продажам</div>
            </div>

            <div class="staff-card">
                <div class="staff-image">
                    <img src="./assets/images/glava.webp" alt="Алексей Петров">
                </div>
                <div class="staff-name">Алексей Петров</div>
                <div class="staff-position">Основатель</div>
            </div>

            <div class="staff-card">
                <div class="staff-image">
                    <img src="./assets/images/glava.webp" alt="Мария Петрова">
                </div>
                <div class="staff-name">Мария Петрова</div>
                <div class="staff-position">Менеджер по продажам</div>
            </div>
        </div>
