// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/header';
@use 'components/hero-banner';
@use 'components/button';
@use 'components/slider';
@use 'components/card_product';
@use 'components/polosa';
@use 'components/staf';
@use 'components/form';
@use 'components/footer';
@use 'components/info-block';
@use 'components/primuh';
@use 'components/forma_call';
@use 'components/social_card';

// ==== 5. Page-specific styles ====
@use 'info';  // ← ДОБАВЬТЕ ЭТУ СТРОКУ

:root {
  --dark-bg: #0F0F0F;
  --dark-gray: #202020;
  --accent: rgb(255, 255, 126);
  --dark-green:  #FFE135;

  --light-glass:  #EDEDED;
  --light: #F8F8F8;
  --dark: #2A2A2A;
}
body {
  background: var(--dark);
  color: var(--light);
  min-height: 100vh;
  padding: 0;
  margin: 160px 100px 10px 100px;
  font-family: 'Inter', 'Sh', sans-serif;
  line-height: 1.6;
  transition: all 0.3s ease;
}
.section {
  margin-top: 40px;
  padding: 10px 40px 10px 40px;
  p {
    color: var(--light);
    font-size: 24px;
  }
}

.section h2 {
  font-size: 48px;
  line-height: 1px;
  color: var(--accent);
}
/* светлая тема */
body.light-theme {
  background: var(--light);
  color: #ffffff;

  .glass {
    background: var(--light-glass);
    color: #000000;
  }
}

/* темная тема */
body.dark-theme {
  background: var(--dark);
  color: var(--light-text);

  .glass {
    background: var(--dark);
    color: var(--light-text);
  }
  header {
    color: var(--light);
  }
}

